table#table1{
    width: 100% !important;
    height: auto !important;
    border: 1px;
    /* margin-left: 21% !important;
    margin-right: 15% !important; */
    align-content: left !important;
}



div#mapa{
    width: 70%; 
    /* height: 100%; */
    
    /* position: relative; */
    /* text-align: center; */
    margin-left: 18%;
    background-color: lightgray;
    margin-bottom: 0px;
    
    
}

div#wholePage{
    width: 100%;
    
    margin-top: 245px !important;
    padding: 11px !important;
    
    background-color:lightgray !important;
    /* height: 800px !important; */
    /* overflow-y: hidden; */
    
}
th{
    width: auto;
    padding-right: 30px;
}

p#busLineGrid{
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-family: cursive;
    
    
}

h4#infoh4{
    text-align: left;
    font-size: 15px;
    width: 100%;
    margin-top: 0px;
    
}

p#busLineGrid:hover{
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    border-color: white;
    font-family: cursive;
}