<div id="wholePage">

<div *ngIf="!nonRegister() && !nonActivated() && !requestDeny()">
  <label>You are not authorized to purchase tickets. Your request is processed! </label>
</div>

<div *ngIf="requestDeny() && !nonRegister()">You do not have the right to purchase tickets, your request has been denied!</div>

  <div>

  </div>

    <form #buyTicketForm="ngForm"  (ngSubmit)="onSubmit(buyTicketForm.value, buyTicketForm)">
        <div *ngIf="nonRegister()" class="form-group">
            <label for="email">Email address</label>
            <input required type="email" class="form-control" name="Email" placeholder="Email" ngModel>

            <div *ngIf="!validations.emailForBuyTicketOk" style="color:red">Email can't be empty.</div>
        </div>

      <div *ngIf="!nonRegister()" class="form-group">  <!--Ako je registrovan-->
        
        <div *ngIf="nonActivated()">
          <label for="TypeOfTicket">Select type of ticket</label>
          <select name="TypeOfTicket"  class="form-group"  class="form-control" ngModel>
            <option disabled>Please select...</option>
            <option value="TimeLimited">TimeLimited</option>
            <option value="Daily">Daily</option>
            <option value="Monthly">Monthly</option>
            <option value="Annual">Annual</option> 
          </select>
          
          <div *ngIf="!validations.typeOfTicketOk" style="color:red">Please select type ticket.</div>
        </div>
      </div>

      <ngx-paypal [config]="payPalConfig"></ngx-paypal>

      <button *ngIf="(nonActivated() || nonRegister()) && (showButtonComplete)" type="submit" class="nav-link" class="btn btn-primary">Complete shopping</button>
  </form>

  <div *ngIf="!nonRegister() && nonActivated() && !requestDeny()">
    <br><br>
    <!--Niste kupili ni jednu kartu-->
    <h3>{{listOfBuyingTicket.length != 0 ? 'History of buying ticket' : 'You did not buy any tickets!'}}!</h3><br>

    <table border="1">
      <tr *ngIf="listOfBuyingTicket.length">
        <td>Id ticket</td>
        <td>Type of ticket</td>
        <td>Purchase date</td>
        <td>Price of ticket</td>
        <td>Valid</td>
      </tr>
      <tr *ngFor="let t of listOfBuyingTicket">
        <td>{{t.Id}}</td>
        <td>{{tipKarte[t.TypeOfTicketId]}}</td>
        <td>{{t.PurchaseDate}}</td>
        <td>{{t.PriceOfTicket}}</td>
        <td>{{t.Valid == false ? 'No' : 'Yes'}}</td>
      </tr>
    </table>
    
  </div>

</div>
